div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

img {
  border: 10px groove orangered;
  height: 500px;
  width: 600px;
}
.oneimg {
  border: 10px dashed orangered;
  height: 500px;
  width: 600px;
}
.twoimg {
  border: 10px dotted orangered;
  height: 500px;
  width: 600px;
}
