div {
  width: 400px;
  height: 200px;
  border: 10px dashed red;
  margin: 20px auto;
  background-image: url("https://hdqwalls.com/wallpapers/best-nature-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.secondary {
  box-sizing: border-box;
}
