html {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 400;
}

h1 {
  text-shadow: 1px 1px 1px red;
}

#boldish {
  font-weight: 600;
  letter-spacing: 0.75rem;
  text-indent: 1rem;
}

a {
  text-decoration: none;
}

.irrelevant:hover {
  text-decoration: line-through;
  line-height: 12rem;
}
