div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url("https://hdqwalls.com/wallpapers/best-nature-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  border: 10px groove orangered;
  border-radius: 100%;
  height: 500px;
  width: 600px;
}
.oneimg {
  border: 10px dashed orangered;
  height: 500px;
  width: 600px;
}
.twoimg {
  border: 10px dotted orangered;
  height: 500px;
  width: 600px;
}
